@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space Mono', 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#010103];
}

a {
  @apply text-white;
}

.num {
  @apply text-accent;
}

.project-right {
  grid-column: 1 / 8;
  grid-area: 1 / 6 / -1 / -1;
}

.project-left {
  grid-column: 7 / -1;
  grid-area: 1 / 1 / -1 / 7;
}

@media (max-width: 768px) {
  .project-left,
  .project-right {
    @apply bg-accent p-4;
    grid-column: 1 / -1;
    opacity: 0.9;
    text-align: center;
  }
}

.up {
  @apply opacity-0;
}

nav .item {
  position: relative;
}

nav .item .anim,
.slide .anim {
  @apply bg-white text-nowrap overflow-hidden absolute h-full block;
}

nav .item a {
  opacity: 0;
}

.email {
  webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  letter-spacing: 0.1em;
}
